.nemium-c:root {
  --color-ppal: #212121;
  --color-secundario: #212429;
  --color-terciario: #616161;
  --color-txt: #424242;
  --bodybg: #fff;
  --footerbg: #212429;
  --wrappper: 902px;
}
 .nemium-c body{
  font-family: 'Roboto', sans-serif;
}


.nemium-c .hero{
  display: none;
}

.nemium-c h1 + p{
  margin-block-end: 64px;
  color: var(--color-ppal);
}

.nemium-c .menu-ppal{
  margin-block-end: 48px;
}

.nemium-c header .title-menu{
  font-weight: normal;
  color: var(--color-terciario);
}

.nemium-c header li{
  color: var(--color-terciario);
}

.nemium-c h1, .nemium-c h2, .nemium-c h3{
  font-weight: normal;
}

.nemium-c hr{
  margin-block:64px;
}

.nemium-c header h5{
  color:var(--color-terciario);
  font-weight: 700;
  font-size: 14px;
}

.nemium-c blockquote{
  background: var(--bodybg);
  border-inline-start: 4px solid var(--color-ppal);
  border-radius: 0;
  padding-block: 0;
  padding-inline:16px ;
}
.nemium-c p{
  color: var(--color-txt);
}

.nemium-c blockquote span{
  color:var(--color-terciario);
}

.nemium-c blockquote span:before{
  content: "-";
}

header .menu-contenidos{
border-inline-start: 4px solid #C4C4C4;
padding-inline-start: 16px;
}

.nemium-c header li a{
color:var(--color-terciario)
}

.nemium-c pre{
  background: #E5E5E5;
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-txt);
}

.nemium-c .slider-bullet{
  background: rgba(66, 66, 66, 0.2);
}

.nemium-c .slider-bullet:first-of-type{
  background: #424242;
}

.nemium-c .txt-suscribete a{
  color: #000;
}

.nemium-c footer p{
  color: #fff;
}



.nemium-c .form{
  font-size: 0;
}

.nemium-c .form input{
  background: #fff;
  border-radius: 90px;
  border:1px solid var(--color-terciario);
  display: inline-block;
  margin-block-end: 10px;
}

.nemium-c .form input::-webkit-input-placeholder {
  color: var(--color-txt)
}

.nemium-c .form input[type="submit"]{
  background: #000;
  color: #fff;
  font-weight: normal;
  position: absolute;
  right: 0;
  border:1px solid var(--color-terciario);

  inline-size: 150px;
}
.nemium-c .form input[type="text"]{
  margin-inline-end: 20px;
}
.nemium-c .form input[type="submit"]:hover{
  background: #000;
  color: #fff;
}

.nemium-c .form input:focus{
  outline:0;
}


.nemium-c .form{
  position: relative;

}

.nemium-c .title-menu{
  display: block;
}



@media screen and (min-width: 1366px) {
  .nemium-c .form input{
    inline-size: 48%;
  }

  .nemium-c .form{
    inline-size: 700px;
  }
  .nemium-c .header{
    position: relative;
    inset-block-start: 0;
  }

  .nemium-c header{
    position: relative;
    inset-inline-start: 0;
    inline-size: 100%;
  }

   .nemium-c h1{
     margin-block-start: 70px;

   }

  .nemium-c .header-content {
  position: relative;
  inset-block-start: 0px;
}
  .nemium-c .menu-ppal{
    margin-block-end: 110px;
  }


}
