.nemium-e:root {
  --color-ppal:#B8C1EC;
  --color-secundario: #FFFFFE;
  --color-terciario: #3A3539;
  --bodybg: #232946;
  --footerbg: #D4939D;
  --wrappper: 736px;

}

.nemium-e .hero{
  display: none;
}
 .nemium-e body{
  font-family: 'Montserrat', sans-serif;
 }

 .nemium-e .title-menu{
   margin-block-start: 0;
   padding-block-start: 0;
   font-weight: normal;
   color: #fff;
 }


 .nemium-e h1 + p{
   color: var(--color-ppal);
 }

  .nemium-e h1, .nemium-e h2, .nemium-e h3{
    color: #FFFFFE;
  }


.nemium-e p{
 color: var(--color-ppal);
}

.menu-ppal a{
  color: var(--color-ppal);
}

.nemium-e header li,
  .nemium-e header li a{
  color: var(--color-ppal);
}

.nemium-e header summary{
  color: var(--color-secundario);
}

blockquote{
  background: var(--footerbg);

}

.nemium-e blockquote p{
  color: var(--bodybg);
}

.nemium-e blockquote span{
  color: var(--bodybg);
}

.nemium-e blockquote span::before{
  content: "-";
}

.nemium-e h2, .nemium-e h1{
  font-weight: 700;
}


.nemium-e pre{
  background: var(--bodybg);
  font-size: 16px;
}

.nemium-e .txt-suscribete{
  color: var(--color-secundario);

}

.nemium-e .txt-suscribete a{
  color: var(--footerbg);
}

.nemium-e .section-content li{
color: var(--color-ppal);
}

.nemium-e footer p{
  color: var(--bodybg);
}

.nemium-e input[type="submit"]{
  background: var(--footerbg);
  color: var(--bodybg);
}

.nemium-e input{
  background: var(--bodybg);
}

.nemium-e input:focus{
  outline: 0;
}

.nemium-e details{
  display: block;
}

.nemium-e .menu-ppal{
  margin-block-end: 40px;
}


.nemium-e .slider-bullet{
  background: rgba(66, 66, 66, 0.2);
}

.nemium-e .slider-bullet:first-of-type{

   background: #fff;
}


@media screen and (min-width: 1366px){
  header{
    margin-block-start: 0;
  }

    .header {
    position: sticky;
    inset-block-start: 0
    }
  }