.nemium-a:root {
  --color-ppal: #212121;
  --color-secundario: #212429;
  --color-terciario: #616161;
  --color-txt: #424242;
  --bodybg: #fff;
  --footerbg: #212429;
  --wrappper: 902px;
}

.nemium-a .hero{
  background-attachment: fixed;
  background-image:linear-gradient(to top,rgba(255,255,255, .3), transparent  ), url(../images/patron-1.jpg);
}

.nemium-a body{
  font-family: 'Roboto', sans-serif;
}

.nemium-a h1 + p{
  color:var(--color-ppal)
}

.nemium-a p{
  color: var(--color-txt);
}

.nemium-a .section-content:first-of-type p{
  font-style: italic;
}

.nemium-a blockquote{
  background: var(--bodybg);
  border-inline-start: 4px solid var(--color-ppal);
  border-radius: 0;
  padding-block: 0;
  padding-inline:16px ;
}

.nemium-a blockquote span{
  color:var(--color-terciario);
}

.nemium-a blockquote span:before{
  content: "-";
}

.nemium-a pre{
  background: #FEC62E;
  border-radius: 0;
  font-size: 16px;
  color: #000;
}

.nemium-a header li{
  color: var(--color-terciario);
}

.nemium-a .menu-ppal a{
  color:#808080;
}

.nemium-a .slider-bullet{
  background: rgba(66, 66, 66, 0.2);
}

.nemium-a .slider-bullet:first-of-type{
  background: #424242;
}

.nemium-a .txt-suscribete a{
  color: #000;
}

.nemium-a footer p{
  color: #fff;
}



.nemium-a .form{
  font-size: 0;
}

.nemium-a .form input{
  background: #fff;
  border-radius: 90px;
  border:1px solid var(--color-terciario);
  display: inline-block;
  margin-block-end: 10px;
}

.nemium-a .form input::-webkit-input-placeholder {
  color: var(--color-txt)
}

.nemium-a .form input[type="submit"]{
  background: #000;
  color: #fff;
  font-weight: normal;
  position: absolute;
  right: 0;
  border:1px solid var(--color-terciario);

  inline-size: 150px;
}
.nemium-a .form input[type="text"]{
  margin-inline-end: 20px;
}
.nemium-a .form input[type="submit"]:hover{
  background: #000;
  color: #fff;
}

.nemium-a .form input:focus{
  outline:0;
}


.nemium-a h1, .nemium-a h2, .nemium-a h3{
  font-weight: normal;
}

.nemium-a .form{
  position: relative;

}

.nemium-a .title-menu{
  font-weight: 400;
}

.nemium-a .section-content h3{
 border-block-end: 4px solid var(--color-txt);
 width: fit-content;
}

.nemium-a .hidden-number h3{
  border:0;
  font-weight: normal;
}

.nemium-a .section-content:last-child h3{
  border: 0;
}

@media screen and (min-width: 1366px) {

  .nemium-a .form{
    inline-size: 700px;
  }

  .nemium-a .form input{
    inline-size: 48%;
  }


}