@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  --color-ppal: white;
  --color-secundario: #A5A3A5;
  --color-terciario: #3A3539;
  --bodybg: #251F24;
  --footerbg: #fff;
  --wrappper: 736px;
  --colortxt: #

}

body {
  color: var(--color-ppal);
  font-family: 'Nunito', sans-serif;
  background: var(--bodybg);
  margin: 0;

}

a {
  color: var(--color-ppal);
}
.header {

}
.header-content {
  padding-inline: 20px;
}
header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white);

}

header .menu-ppal li{
  list-style: none;



}

header .menu-ppal li a{
  padding-inline-start: 8px;
  padding-inline-end: 80px;
  padding-block:8px;
}

#pagina-actual a{
background: #000;
color: #fff;

  border-radius: 4px;
  margin-block-end: 4px;
}

#pagina-actual a{
  color: #fff;
}



header .menu-ppal{
   margin-block-end: 20px;
   padding-inline-start: 5px;
}

header .title-menu{
  text-transform: uppercase;
  color: var(--color-ppal);
  font-size: 14px;
  font-weight: 700;
  margin-block-end: 24px;
}

header li {
  color: var(--color-secundario);
  margin-block-end: 16px;
}

header a {
  color: var(--color-secundario);
  text-decoration: none;
}
header a:hover {
  color: var(--color-ppal);
}

nav details summary {
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {

  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;

}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  /* font-weight: 600; */
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

pre {
  background: var(--color-terciario);
  padding: 16px;
  overflow: auto;
   border-radius: 8px;
   margin-block-end:40px ;
   font-size: 24px;
  /* border: 10px solid red;
  border-left: 5px solid blue;
  border-inline-start: 5px solid white;
  border-block-end: 20px solid pink;
  border-inline-end: 5px solid green;
  border-block-start-color: blue;
  border: 10px solid #5551FF;
  box-shadow: -10px 10px 0 0 #ABAAF6; */


}



p {
  color: var(--color-secundario);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 50px;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
  /* max-width: 100%; */
}
.txt-suscribete a{
  color: blue;
}

.section-content {
  counter-reset: titleList;
  margin-block-start: 50px;
}

.section-content h3 {
  counter-increment: titleList;
}



.section-content h3::before {
  content: counter(titleList, decimal)'. ';
}

/* .section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--color-ppal);
  display: inline-block;
} */

blockquote {
  margin-inline:0;
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--color-terciario);
  border-radius: 8px;
  line-height: 32px;
  font-size: 24px;
  /* padding: 24px; */
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  padding-block-start: 8px;
  padding-block-end: 8px;
}
blockquote p {
  color: var(--color-ppal);
}

/* ::selection {
  background: green;
} */

.main hr {
  display: none;
}

.main hr:first-of-type{
  display: block;
}

.main {
  /* padding: 10px; */
  /* border: 1px solid red; */
}

.wrapper {
  max-inline-size: var(--wrappper);
 margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider {
  /* border: 1px solid red; */
}

.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
  /* border: 1px solid purple; */
}
.video {
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  /* border: 1px solid yellow; */
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  border-radius: 50%;
}

.slider-bullet:first-of-type{
  background: white;
}

.form input {
  inline-size: 100%;
  border: 1px solid var(--color-ppal);
  background: #251F24;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--color-ppal);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"] {
  background: #157EFB;
  border: none;
  margin-block-end: 80px;
  transition: .5s;
  font-weight: 700;
  cursor: pointer;
}

.form input[type="submit"]:hover {
   background: #fff;
    color: #157EFB;
}

.form input::-webkit-input-placeholder {
  color: var(--color-secundario)
}

.section-content li{
  color: var(--color-secundario);
}

.hidden-number h3::before{
  display: none;
}

.hidden-number h3{
  font-weight: normal;
}




footer{
  background: var(--footerbg);
  padding-block: 45px;
  padding-inline:20px;
  margin: auto;
}

footer p{
color:#251F24;
font-size: 32px;
margin: 0;
padding-block-end: 19px;
}

.footer-content{
  text-align: center;
}

.footer-content a img{
  margin-inline-end: 22px;
  transition: 1s;
}

.footer-content a img:hover{
transform: scale(1.1);
}

details{
  display: none;
}

.title-menu{
  display: none;
}

.title-menu:first-of-type{
  display: block;
}

.form{
  margin-block-end: 40px;
}

.section-content ul li{
  padding-block-end: 16px;
}



@media screen and (min-width: 1366px) {
  .title-menu{
    display: block;
  }
  details{
    display: block;
  }
  .hero {
    block-size: 350px;
  }
  .header {
    position: sticky;
    inset-block-start: -45px;
  }
  .header-content {
    position: relative;
    inset-block-start: 25px;
    padding-inline: 0;
  }
  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }
  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }

  h3{
    font-weight: 600;
  }

  header .menu-ppal{
    margin-block-end: 80px;
  }

  pre{
    padding: 40px;
  }

  blockquote {

    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
  }


}